.label {
  position: relative;
  font-weight: 570;
  font-size: 13px;
  font-family: "Open Sans", sans-serif;
  margin-left: 155px;
  //   top: 3px;
}
.labelInsuranceCompany {
  position: relative;
  font-weight: 570;
  font-size: 13px;
  font-family: "Open Sans", sans-serif;
  margin-left: 90px;
}
.labelClaim {
  position: relative;
  font-weight: 570;
  font-size: 13px;
  font-family: "Open Sans", sans-serif;
  margin-left: 175px;
}
.claim {
  position: relative;
  width: 40%;
  height: 30px;
  padding: 3px 10px;
  right: 190px;
}
.claimDate {
  position: relative;
  width: 40%;
  height: 30px;
  padding: 3px 10px;
  right: 190px;
}

.emaillabelClassname .firstName::before {
  content: "  *";
  color: red;
  //   margin-left: 2px;
}
.insuranceCompany {
  position: relative;
  width: 40%;
  height: 30px;
  padding: 3px 10px;
  right: 190px;
}
.mobile {
  width: 40%;
  height: 30px;
  right: 310px;
  padding: 3px 10px;
}
.phoneNumber {
  width: 40%;
  height: 30px;
  padding: 3px 10px;
}
.labelAdjusterName {
  position: relative;
  font-weight: 550;
  font-size: 13px;
  font-family: "Open Sans", sans-serif;
  margin-left: 115px;
}
.mobile {
  position: relative;
  margin-left: 119px;
}
.labelLossDamageType {
  position: relative;
  font-weight: 550;
  font-size: 13px;
  font-family: "Open Sans", sans-serif;
  margin-left: 104px;
}
.secondaryPhoneNumber {
  width: 40%;
  height: 30px;
  right: 350px;
  padding: 3px 10px;
  position: relative;
  margin-left: 159px;
}
.labelAddress {
  position: relative;
  font-weight: 550;
  font-size: 13px;
  font-family: "Open Sans", sans-serif;
  margin-left: 125px;
}
.address {
  position: relative;
  width: 40%;
  height: 50px;
  right: 190px;
  padding: 3px 10px;
}
.addressOne {
  position: relative;
  width: 40%;
  height: 30px;
  right: 190px;
  padding: 3px 10px;
  //   margin-top: 10px;
}
.addressSecond {
  position: relative;
  width: 40%;
  height: 30px;
  right: 195px;
  padding: 3px 10px;
  padding: 10px;
  //   margin-top: 10px;
}
.options {
  position: relative;
  width: 8%;
  right: 13.5%;
  font-size: 12px;
}
.selectOptions {
  position: relative;
  font-size: 12px;
}
.labelState {
  position: relative;
  font-weight: 550;
  font-size: 13px;
  font-family: "Open Sans", sans-serif;
  margin-left: 190px;
}
.zipCode {
  position: relative;
  width: 30%;
  height: 30px;
  right: 350px;
  padding: 3px 10px;
  left: 99px;
  bottom: 16px;
}
.labelZipCode {
  position: relative;
  font-weight: 550;
  font-size: 13px;
  font-family: "Open Sans", sans-serif;
  bottom: 50px;
  left: 440px;
  // margin-right: 180px;
}
.labelMinPrice {
  position: relative;
  font-weight: 550;
  font-size: 13px;
  font-family: "Open Sans", sans-serif;
  margin-left: 88px;
}
.labelClaimDecription {
  position: relative;
  font-weight: 550;
  font-size: 13px;
  font-family: "Open Sans", sans-serif;
  margin-left: 113px;
}
.labelClaimDeduction {
  position: relative;
  font-weight: 550;
  font-size: 13px;
  font-family: "Open Sans", sans-serif;
  margin-left: 113px;
}
.labelTaxRate {
  position: relative;
  font-weight: 550;
  font-size: 13px;
  font-family: "Open Sans", sans-serif;
  margin-left: 141px;
}
.labelContent {
  position: relative;
  font-weight: 550;
  font-size: 13px;
  font-family: "Open Sans", sans-serif;
  margin-left: 125px;
}
