@use "@/scss/colors.scss" as *;

.label {
  position: relative;
  font-weight: 570;
  font-size: 13px;
  font-family: "Open Sans", sans-serif;
  // margin-left: 155px;
  //   top: 3px;
}
.claim {
  position: relative;
  width: 40%;
  height: 30px;
  padding: 3px 10px;
  right: 190px;
}
.claimDate {
  position: relative;
  width: 40%;
  height: 30px;
  padding: 3px 10px;
  right: 190px;
}

.insuranceCompany {
  position: relative;
  width: 40%;
  height: 30px;
  padding: 3px 10px;
  right: 190px;
}
.mobile {
  width: 40%;
  height: 30px;
  right: 310px;
  padding: 3px 10px;
}
.phoneNumber {
  width: 40%;
  height: 30px;
  padding: 3px 10px;
}
// .labelAdjusterName {
//   position: relative;
//   font-weight: 550;
//   font-size: 13px;
//   font-family: "Open Sans", sans-serif;
//   margin-left: 115px;
// }
.mobile {
  position: relative;
  margin-left: 119px;
}
// .labelLossDamageType {
//   position: relative;
//   font-weight: 550;
//   font-size: 13px;
//   font-family: "Open Sans", sans-serif;
//   margin-left: 104px;
// }
.secondaryPhoneNumber {
  width: 40%;
  height: 30px;
  right: 350px;
  padding: 3px 10px;
  position: relative;
  margin-left: 159px;
}
// .labelAddress {
//   position: relative;
//   font-weight: 550;
//   font-size: 13px;
//   font-family: "Open Sans", sans-serif;
//   margin-left: 125px;
// }
.address {
  position: relative;
  width: 40%;
  height: 50px;
  right: 190px;
  padding: 3px 10px;
}
.addressOne {
  position: relative;
  width: 40%;
  height: 30px;
  right: 190px;
  padding: 3px 10px;
  //   margin-top: 10px;
}
.addressSecond {
  position: relative;
  width: 40%;
  height: 30px;
  right: 195px;
  padding: 3px 10px;
  padding: 10px;
  //   margin-top: 10px;
}
.options {
  position: relative;
  width: 8%;
  right: 13.5%;
  font-size: 12px;
}
.selectOptions {
  position: relative;
  font-size: 12px;
}
// .labelState {
//   position: relative;
//   font-weight: 550;
//   font-size: 13px;
//   font-family: "Open Sans", sans-serif;
//   margin-left: 190px;
// }
.zipCode {
  position: relative;
  width: 30%;
  height: 30px;
  right: 350px;
  padding: 3px 10px;
  left: 99px;
  bottom: 16px;
}
.formControl {
  flex-direction: row;
  align-items: center;
  width: 10%;
  gap: 2px;
  margin-left: 20px;
  .wrapper {
    flex: 1;
    margin: auto;
    display: flex;
    .inputField {
      height: 20px;
    }
  }
}

.formControl1 {
  flex-direction: row;
  align-items: center;
  width: 10%;
  gap: 2px;
  margin-left: 20px;
  .wrapper1 {
    flex: 1;
    margin: auto;
    display: flex;
    .inputField1 {
      height: 20px;
    }
  }
}

.textArea {
  border-radius: 5px;
  padding: 5px;
}
.errorMessage {
  position: relative;
  left: 350px;
  bottom: 30px;
}

.fileType {
  font-size: 13px;
  color: #337ab7;
  cursor: pointer;
}
.fileType:hover {
  color: #23527c;
}

.categoryName {
  padding-left: 220px;
  padding-top: 10px;
  font-family: "Open Sans", sans-serif;
  font-size: 13px;
}
.category {
  // margin-left: 90px;
  // right: 290px;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 13px;
  margin-left: 40px;
}
.aggregateStyle {
  padding-left: 40px;
  margin-right: 20px;
  width: 30%;
}
.itemLimitSTyle {
  padding-left: 20px;
  margin-left: 20px;
  width: 27%;
}
.value {
  background-color: transparent;
  width: 200px;
  text-align: right;
  border: none;
  // right: 80px;
}
.aggregateCoverage {
  margin-left: 40px;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 13px;
  // right: 790px;
}
.itemLimit {
  margin-left: 90px;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 13px;
}
.cards {
  position: relative;
  width: 70%;
  margin-top: 50px;
  // : 50px;
}
.itemStyle {
  position: relative;
  width: 130%;
}
.coverages {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 13px;
}
.deleteButton {
  width: 30px;
  background-color: transparent;
  border: none;
  // margin-left: 30px;
}
.closeCircle {
  width: 70px;
  color: red;
  height: 30px;
  // background-color: red;
}
.specialCategory {
  position: relative;
  background-color: transparent;
  border: none;
  font-size: 13px;
  color: #337ab7;

  // float: right;
  margin-left: 80%;
  font-family: "Open Sans", sans-serif;
  padding-top: 1%;
  font-weight: 600;
}
.specialCategory:hover {
  color: $blueJay;
  border-bottom: 2px solid $blueJay;
}
.specialCategoryDiv {
  bottom: 35px;
  margin-left: 25%;
  padding-top: 10px;
}
.specialcategoryInput {
  margin-left: 10%;
}
.specialLimit {
  font-weight: 570;
  font-size: 13px;
  font-family: "Open Sans", sans-serif;
}
.search {
  position: relative;
  right: 20px;
  height: 40px;
  // right: 30px;
  // width: 40%;
  // padding-right: 20px;
}
.outLimeSearch {
  position: relative;
  bottom: 30px;
  margin-left: 180px;
  opacity: 0.2;
}
