@use "@/scss/colors.scss" as *;

.root {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
  .formControl {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    gap: 24px;
    max-width: 60%;
    width: 100%;
    .inputField {
      width: 100%;
    }
    .label {
      font-size: 13px;
      line-height: 18px;
      font-weight: 600;
    }
  }
  .actionDiv {
    display: flex;
    gap: 4px;
    .backBtn {
      color: $astral;
      text-decoration: none;
      font-size: 13px;
      font-weight: normal;
    }
    .resetBtn {
      font-weight: normal;
      width: 85px;
    }
  }
}
