@use "@/scss/colors.scss" as *;

.claimContainer {
  background-color: $astral;
  height: 40px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;

  .claimContentContainer {
    height: inherit;
    display: flex;
    width: 100%;
  }
}
