.root {
  padding: 15px;
  display: flex;
  flex-direction: column;
  row-gap: 16px;
  padding-bottom: 16px;
  .topItemSection {
    position: relative;
  }
  .topItemSection,
  .bottomItemSection {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    gap: 16px;
  }
}

@keyframes modal {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0);
  }
}
