.root {
  padding: 15px;
  display: flex;
  flex-direction: column;
  row-gap: 16px;
  padding-bottom: 16px;
  .topItemSection {
    position: relative;
  }
  .topItemSection,
  .bottomItemSection {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    gap: 16px;
  }
  .modalOverlay {
    align-items: flex-start;
    padding-top: 48px;
    .modal {
      animation-name: modal;
      animation-duration: 0.8s;
      animation-direction: linear;
      transform: translateY(0);
    }
  }
  .customComparableModalButton {
    display: flex;
    column-gap: 8px;
    margin-left: auto;
  }
}

@keyframes modal {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0);
  }
}
