.Select {
  position: relative;
  top: 120px;
  width: 500px;
  left: 190px;
}
.select {
  // margin-top: 90px;
  width: 800px;
  font-size: 18px;
}
.GenericSelect {
  width: 800px;
  font-size: 18px;
}
.App {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
