.claimTableContainer {
  padding-left: 0;
  padding-right: 0;
  position: relative;
}
.originalItemHeader {
  margin-left: auto;
  margin-right: auto;
  background: #f7b4b4 !important;
  div {
    justify-content: center !important;
  }
}
.replacementItemHeader {
  margin-left: auto;
  margin-right: auto;

  background: #fb9f9f !important;
  div {
    justify-content: center !important;
  }
}
