.addListTableContainer {
  padding-left: 0;
  padding-right: 0;
  position: relative;
}

.editButton {
  color: #36c6d3;
  border: none;
  background-color: white;
  cursor: pointer;
  margin-right: 10px;
  margin-right: 10px;
}

.deleteButton {
  color: red;
  border: none;
  background-color: white;
  cursor: pointer;
}
