.loaderContainer {
  min-height: 122px;
}

@mixin scoreWidthMonth {
  min-height: 80px;
  text-align: center;
}

.newClaimCard {
  @include scoreWidthMonth;
  background-color: #fcff7fd1;
}

.closedClaimCard {
  @include scoreWidthMonth;
  background-color: #95fddac7;
}

.avgClosingTimeCard {
  @include scoreWidthMonth;
  background-color: #d1ff7fc7;
}
.claimTypeCount {
  font-size: 16px;
  font-weight: 600px;
}
.claimTypeLabel {
  font-size: 13px;
  font-weight: 600;
}
