@use "@/scss/colors.scss" as *;

.tableStyle {
  width: 100%;
  border-collapse: collapse;
  align-items: flex-start;
  max-height: 200px;
  overflow-y: auto;
  .theadtyle {
    position: sticky;
    top: 0;
  }
  .actionHeadingCol {
    min-width: fit-content;
  }
  tbody {
    background-color: #fff;
    // background-color: rgb(235, 226, 226);

    .trStyle {
      border-bottom: 1px solid rgba($color: #ccc, $alpha: 0.5);
      padding: 4px 0;

      cursor: pointer;
      .tdStyle {
        padding: 6px;
        text-align: left;
        word-wrap: break-word;
        font-size: 11px;
      }
      .actionIcon {
        visibility: hidden;
      }
      .show {
        visibility: visible;
      }
      &:hover {
        box-shadow: -4px 1px 4px #ccc;
      }
    }
  }
}

.no-data {
  text-align: center;
  color: $noRecordRed;
  padding: 12px;
}

.thStyle {
  background-color: #f1ecec;
  font-weight: 600;
  font-size: 12px;
  color: black;
  padding: 4px 6px;
  text-align: left;
  min-width: 130px;
}

.tBodyStyle {
  width: 100%;
  border-collapse: collapse;
  font-size: 12px;
}
