.tableStyle {
  width: 100%;
  border-collapse: collapse;
  align-items: flex-start;
  max-height: 200px;
  overflow-y: auto;
  .theadtyle {
    position: sticky;
    top: 0;
  }
  tbody {
    background-color: #fff;
    // background-color: rgb(235, 226, 226);

    .trStyle {
      border-bottom: 1px solid rgba($color: #ccc, $alpha: 0.5);
      padding: 4px 0;

      cursor: pointer;
      .tdStyle {
        padding: 6px;
        text-align: left;
        word-wrap: break-word;
        font-size: 11px;
      }
      &:hover {
        box-shadow: -4px 1px 4px #ccc;
      }
    }
  }
}

.no-data {
  text-align: center;
  color: red;
  padding: 12px;
}

.thStyle {
  background-color: rgb(207 201 201);
  font-weight: bold;
  font-size: 12px;
  color: black;
  padding: 4px 6px;
  text-align: left;
}

.tBodyStyle {
  width: 100%;
  border-collapse: collapse;
  // margin-bottom: 20px;
  font-size: 12px;
}
