@use "@/scss/colors.scss" as *;

.genericBtn {
  width: 100%;
  height: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 13px;
  padding: 2px 12px;
  border-radius: 4px;
  outline: none;
  border: none;
  background-color: transparent;
  cursor: pointer;
  &:disabled {
    cursor: not-allowed;
    opacity: 0.65;
  }
}

.light-blue {
  color: $white;
  background-color: $lightBlueBtn;
  &:not(:disabled):hover {
    background-color: $lightBlueHoverBtn;
  }
}

.dark-blue {
  background: $darkBlueBtn;
  color: $white;
  &:not(:disabled):hover {
    background-color: $darkBlueHoverBtn;
  }
}

.normal-button {
  background-color: $grey3;
  padding: 2px 12px;
  line-height: 18px;
  margin-left: auto;
  width: fit-content;
  height: fit-content;
  font-weight: 600;
  font-size: 13px;
  color: $mineShaft;
}
