.genericBtn {
  width: 100%;
  height: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 13px;
  padding: 2px 12px;
  border-radius: 4px;
  outline: none;
  border: none;
  background-color: transparent;
  cursor: pointer;
  &:disabled {
    cursor: not-allowed;
    opacity: 0.65;
  }
}

.light-blue {
  color: #ffffff;
  background-color: #32c5d2;
}

.dark-blue {
  background: #27235e;
  color: white;
}
