.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(
    90deg,
    rgba(56, 223, 121, 1) 0%,
    rgba(0, 188, 212, 1) 50%,
    rgba(238, 130, 238, 1) 100%
  );
  color: #fff;
  font-size: 20px;
}

.cardsStylAdjustAlert {
  // max-width: 600px;
  min-height: 400px;
  // margin-left: 10px;
}

.cardsStylAdjustScore {
  // max-width: 600px;
  padding-top: 10px;
  padding-right: 20px;
  padding-left: 20px;
  margin-right: 9px;
  // margin-bottom: 15px;
}

.cardsStylClaims {
  margin-left: -11px;
}

// .cardsStylVendor{
//     max-width: 600px;
//     min-height: 200px;
// }
.cardddd {
  margin-top: 12px;
  margin-left: 10px;
}
