@use "@/scss/colors.scss" as *;

.main {
  box-shadow: 2px 0px 16px 0px $lightGrey;
  border: 1px solid $grey5;
  padding: 20px 15px 15px;
  margin-bottom: 10px;
  margin: 0 auto;
  width: 100%;
  max-width: 900px;
  .heading {
    font-size: 14px;
    line-height: 14px;
    color: $danube;
    border-bottom: 1px solid $grey5;
    padding: 0 0 5px 5px;
    font-weight: 600;
  }
  .fogotPasswordContent {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 0 15px;
    .subHeading {
      margin: 16px 0;
      font-size: 13px;
      line-height: 18px;
      color: $doveGray;
    }
  }
}
