.inputBoxAlign {
  text-align: right;
}
.alignRight {
  justify-content: right;
}
.labelStyle {
  font-size: 13px;
  font-weight: 600;
}
.clipped {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
