.textClaimStatus {
  font-size: 13px;
  color: white;
  font-weight: 600;
  white-space: nowrap;
  // overflow: hidden;
  // text-overflow: ellipsis;
  margin-right: 10px;
  margin-top: 6px;
}

.claimStatusContainer {
  display: flex;
  // align-items: center;
}

.selectOption {
  padding-left: 20px;
}
