.textClaimStatus {
  font-size: 14px;
  color: white;
  font-weight: 600;
}

.claimStatusContainer {
  display: flex;
  align-items: center;
}

.claimStatusDropdown {
  margin-left: 10px;
}

.selectOption {
  padding-left: 20px;
}
