.button {
  color: #32c5d2;
}
.input {
  position: relative;
  margin-left: 10%;
  width: 80%;
  height: 30px;
}
.button {
  margin-top: 120px;
  margin-left: 460px;
}
.error {
  color: red;
  font-size: 13px;
  padding-left: 40px;
}
