@use "@/scss/colors.scss" as *;

.cardsStylAdjustCalims {
  // min-width: 200px;
  min-height: 100px;
  border-radius: 6px;
  margin-top: 10px;

  &:hover {
    background-color: #f1ecec;
  }
  * {
    font-weight: normal;
  }
}

.dueStyle {
  color: $errorRed;
}
