$wisteria: #975fa8;
$royalBlue: #4169e1;
$white: #fff;
$lightGrey: lightgrey;
$iron: #d9dddc;
$grey1: gray;
$grey2: #827e7e;
$grey3: #ddd;
$grey4: #c2cad8;
$grey5: #c7ccd0;
$lightBlue2: #32c5d2;
$portGore: #27235e;
$errorRed: red;
$astralBlue: #337ab7;
$cadetGrey: #a7b2c0;
$oxfordBlue: #364150;
$doveGray: #666;
$mineShaft: #333;
$danube: #5c9bd1;
$astral: #337ab7;

/*Breadcrumb colors config*/
$breadcrumbItemColor: $astralBlue;
$breadcrumbItemActiveColor: $cadetGrey;
$breadcrumbDividerColor: $cadetGrey;
