@use "@/scss/colors.scss" as *;
@import "bootstrap/dist/css/bootstrap-grid.min.css";

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

* > h1,
h2,
h3,
h4,
h5,
h6,
ol {
  margin: 0;
  padding: 0;
}

* > body {
  max-height: 100vh;
  height: 100vh;
  overflow: hidden;
}

.d-none {
  display: none;
}

.text-center {
  text-align: center;
}
.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}
.text-justify {
  text-align: justify;
}
.position-absolute {
  position: absolute;
}
.position-relative {
  position: relative;
}

a {
  color: $astral;
  text-decoration: none;
  text-shadow: none;
  line-height: 18px;
  font-size: 13px;
  &:hover {
    color: $blueJay;
    text-decoration: underline;
  }
}
.row {
  margin: 0;
}
.pr-0 {
  padding-right: 0 !important;
}
.w-fit {
  width: fit-content;
}
.Toastify__toast-container {
  width: fit-content;
}
.badge {
  display: inline-block;
  padding: 0.5em 0.4em;
  font-size: 75%;
  font-weight: 700;
  line-height: 100%;
  font-size: 10px;
  text-align: center;
  white-space: nowrap;
  border-radius: 0.25rem;
}
.badge-primaryCustom {
  color: #fff;
  background-color: #337ab7 !important;
}
.badge-primary {
  color: #fff;
  background-color: #007bff;
}
.badge-secondary {
  color: #fff;
  background-color: #6c757d;
}
.badge-success {
  color: #fff;
  background-color: #28a745;
}
.badge-danger {
  color: #fff;
  background-color: #dc3545;
}
.badge-warning {
  color: #212529;
  background-color: #ffc107;
}
.badge-info {
  color: #fff;
  background-color: #17a2b8;
}
.badge-light {
  color: #212529;
  background-color: #f8f9fa;
}
.badge-dark {
  color: #fff;
  background-color: #343a40;
}
