@use "@/scss/colors.scss" as *;
@import "bootstrap/dist/css/bootstrap-grid.min.css";

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

* > h1,
h2,
h3,
h4,
h5,
h6,
ol {
  margin: 0;
  padding: 0;
}

* > body {
  max-height: 100vh;
  height: 100vh;
  overflow: hidden;
}

.d-none {
  display: none;
}

.text-center {
  text-align: center;
}
.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}
.text-justify {
  text-align: justify;
}
.position-absolute {
  position: absolute;
}

a {
  color: $astral;
  text-decoration: none;
  text-shadow: none;
  line-height: 18px;
  font-size: 13px;
  &:hover {
    color: $blueJay;
    text-decoration: underline;
  }
}
.row {
  margin: 0;
}
.w-fit {
  width: fit-content !important;
}
.Toastify__toast-container {
  width: fit-content;
}
